

<section class="todoapp">

	<header class="header">
		<h1>Lists of <%=@username%></h1>
		<%= form_for(@new_list) do |f| %>
			<%= f.text_field :name, :class => "new-todo", :placeholder => (@new_list.errors.full_messages_for(:name).first || "Enter a new list name ...") %>
		<%end%>
	</header>

	<%= render :partial => 'section_main', :locals => {:collections => @lists, :field_name =>'name', :is_item => false} %>

<footer class="footer">
</footer>

</section>

<section class="todoapp">
	<h1>All list Items</h1>
	<% if @items.size > 0 %>
		<%= render :partial => 'section_main', :locals => {:collections => @list_items, :field_name => 'description', :is_item => true} %>
	<% end %>
</section>
