
<section class="todoapp">
	<header class="header">
		<h1 style="font-size:50px"><%=@list.name %></h1>
		<%= form_for([@list, @item]) do |f| %>
			<%= f.text_field :description, :class => "new-todo", :placeholder => (@item.errors.full_messages_for(:description).first || "Enter an item ...")%>
		<%end%>
	</header>
	<section class="main">
		<ul class="todo-list">
			<% @list.items.each do |item| %>
				<li class="<%= "completed" if item.completed? %>">
					<div class="view">
						<%= form_for([@list, item]) do |f| %>
							<!--<input class="toggle" <%= "checked='checked'" if item.completed?%>>-->
							<label><%= item.description %></label>
						<!--<input class="toggle" type="checkbox" <%= "checked='checked" if true %>>-->
							<%=f.submit "completed"%>
						<%end%>
						<!--<label><%= item.description %></label>-->
					</div>
				</li>
			<%end%>
		</ul>
	</section>
	<footer class="footer">
	</footer>
</section>

