
<ul>
	<% if !user_signed_in? %>
		<h1>Welcome to ToDo lists app!</h1>
		<li><%= link_to "Sign Up", signup_path %></li>
		<li><%= link_to "Login", login_path %></li>
	<% else %>
		<h1>Welcome <%= current_user.username %>!</h1>
		<li><%= link_to "Home", lists_path %></li>
		<li><%= link_to "Logout", destroy_user_session_path, method: "delete" %></li>
	<%end%>
</ul>